<div class="field">
    <div class="card-stack">
        @for (c of [0, 1, 2, 3]; track c; let i = $index) {
            <img [ngStyle]="{'right.px': i * 5, 'top.px': i * 5}" src="/assets/img/cards/card_cover.png">
        }
        <img (click)="takeCard()" class="top-card" style="right: 20px; top: 20px" src="/assets/img/cards/card_cover.png">
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 20px; top: 20px" src="/assets/img/cards/{{ currentCard }}.png">
        @for (card of game.playedCards; track card) {
            <img class="played-card" src="/assets/img/cards/{{ card }}">
        }
    </div>

    <!-- ALTE VERSION VON JUNUS
     
    <div class="card-stack">
        <img [ngStyle]="{'right.px': i * 5, 'top.px': i * 5}" *ngFor="let c of [0,1,2,3]; let i = index" src="/assets/img/cards/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 20px; top: 20px" src="/assets/img/cards/card_cover.png">
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 20px; top: 20px" src="/assets/img/cards/ace_1.png">
    </div>  -->
</div>